<div class="mainHeader">
  <img class="mainHeader_logo" src="assets/images/logo.svg" alt="Persistent logo" />
  <label>Machine Learning and Deep Learning Showcase</label>
  <div class="mainHeader_profile showhim">
    <span class="mainHeader_profile_name">Nikhil Padmawar</span>
    <img class="mainHeader_profile_img" src="assets/images/pimg.jpg" alt="Profile Photo" />
    <div class="popup showme">
      <div class="popup_body">
        <ul>
          <li>My Profile</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</div>
