.header{
    grid-column: 1/-1;
    background-image:linear-gradient(to right, #fcfbfa,#ffdcc7);
}
.footer{
    grid-column: 1/-1;
    background-image:linear-gradient(to right, #fcfbfa,#ffdcc7);
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-gap:4px;
    grid-template-columns: repeat(12,1fr);
}

.content{
    grid-column: 1/-1;
}